.container-form {
  display : flex;
  flex-flow: column;
  padding: 20px;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
  text-align: center;
}

.button {
  width: 20%;
  height: 40px;
}
